cscope-15.8b/config.log
cscope-15.8b/src/cscope
gstv.ready
macvim/src/Vim
macvim/src/auto/config.cache
macvim/src/auto/config.h
macvim/src/auto/config.log
macvim/src/auto/config.mk
macvim/src/auto/config.status
macvim/src/auto/link.log
macvim/src/auto/link.sed
macvim/src/auto/osdef.h
macvim/src/auto/pathdef.c
macvim/src/xxd/xxd
